 {% extends 'base.html' %}
 {% load static %}
 {% block content%}

     <!--
        =============================================
            Page Banner  Section
        ==============================================
        -->
        <section class="page-banner-wrap bg-contain bg-bottom d-flex align-items-center" style="background-image: url('../static/assets/img/page_banner_bg.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="page-banner">
                            <span>Product</span>
                            <h2>Our Shop</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.page-banner-wrap -->

        <!--
        =============================================
           Shop- Product Page
        ==============================================
        -->
        <section class="shop-wrapper product-page-wrapper section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="total-product-info">
                            <span>Showing 1–20 of 75 results </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 text-md-right">
                        <div class="sort-filter-wrapper">
                            <form action="#">
                                <span>Sort by :</span>
                                <select name="sortproduct" id="productsort">
                                    <option value="de">Default sorting</option>
                                    <option value="de">Price</option>
                                    <option value="de">Best Sale</option>
                                    <option value="de">Offer</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p1.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Brush</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p2.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Nailer</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p3.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Miter</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p4.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Power tool</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p5.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Brush</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p6.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Miter</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p7.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Miter Tool</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p8.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Power tool 2</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p9.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Miter</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p10.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Brush</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p11.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Power tool</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-product-item">
                            <div class="product_thumb">
                                <img src="../static/assets/img/shop/p12.jpg" alt="p1">
                                <a href="#">Add to Cart</a>
                            </div>
                            <h4><a href="#">Nailer</a></h4>
                            <span>$12.00</span>
                        </div> <!-- /.single-product-item -->
                    </div> <!-- /.col-md-6 col-lg-3 -->
                </div>

                <div class="pagination text-center">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#"><i class="fal fa-angle-right"></i></a></li>
                    </ul>
                </div> <!-- /.pagination -->
            </div>
        </section>
{% endblock %}