 {% extends 'base.html' %}
{% load static %}
 {% block content %}
   <!--
        =============================================
            Page Banner  Section
        ==============================================
        -->
        <section class="page-banner-wrap bg-contain bg-bottom d-flex align-items-center" style="background-image: url('../static/assets/img/page_banner_bg.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="page-banner">
                            <span>our portfolio</span>
                            <h2>Portfolio Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.page-banner-wrap -->


        <!--
        =============================================
            Portoflio Details
        ==============================================
        -->
        <section class="portfolio-details section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="portfolio-single-content">
                            <img src="../static/assets/img/portfolio-details.jpg" alt="">
                            <div class="row mt-45">
                                <div class="col-lg-8 col-md-7 col-sm-12">
                                    <h3></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sed saepe pariatur veritatis similique placeat nisi. Consequatur aut voluptate, sint distinctio voluptatem dolores pariatur . Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident earum nisi aliquid aliquam eveniet quis, eos, eligendi veniam recusandae nostrum similique maiores accusantium nemo exercitationem ut dolorem non omnis reprehenderit.</p>
                                </div>
                                <div class="col-lg-3 offset-lg-1 col-md-5 col-sm-12">
                                    <div class="project-info">
                                        <ul>
                                            <li>
                                                <div class="info-left">
                                                    Client
                                                </div>
                                                <div class="info-right">
                                                    Mugli Studio
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info-left">
                                                    Services
                                                </div>
                                                <div class="info-right">
                                                    Design, Coding
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info-left">
                                                    Date
                                                </div>
                                                <div class="info-right">
                                                    10 May 2019
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info-left">
                                                    share
                                                </div>
                                                <div class="info-right social-p-link">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

   {% endblock %}