{% extends 'base.html'  %}
{% load i18n %}
{%  block content %}
    {% load static %}
        <!-- 
        =============================================
            Hero Section
        ============================================== 
        -->
        <section class="hero-slider-area">
            <div class="hero-slider owl-carousel">
                <div class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center" style="background-image: url('../static/assets/img/slide/s1.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-12 col-lg-6">
                                <span>{% trans 'WE MAKE' %}</span>
                                <h1>{% trans 'Dream House' %}</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta <br>sapiente, quo in minus nostrum praesentium quidem.</p>
                                <a href="#" class="theme_btn get_start">Get details</a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-img">
                        <img src="../static/assets/img/man.png" alt="">
                    </div>
                </div>
            </div>
        </section> <!-- /.hero section -->


        <!-- 
        =============================================
            Featured Box Items
        ============================================== 
        -->
        <section class="features-box-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-feature-box-item">
                            <div class="item-icon">
                                <img src="../static/assets/img/icons/carry.png" alt="">
                            </div>
                            <h3>{% trans 'Flexibility' %}</h3>
                            <p>Lorem ipsum dolor sit amet consectetuLorem ipsum </p>
                        </div> <!-- /.single-feature-box-item -->
                    </div> <!-- /.col-lg-4 col-md-4 col-sm-12 -->
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-feature-box-item">
                            <div class="item-icon">
                                <img src="../static/assets/img/icons/roller.png" alt="">
                            </div>
                            <h3>{% trans 'Modern' %}</h3>
                            <p>Lorem ipsum dolor sit amet consectetuLorem ipsum </p>
                        </div> <!-- /.single-feature-box-item -->
                    </div> <!-- /.col-lg-4 col-md-4 col-sm-12 -->
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-feature-box-item">
                            <div class="item-icon">
                                <img src="../static/assets/img/icons/config.png" alt="">
                            </div>
                            <h3>{% trans 'Quality service' %}</h3>
                            <p>Lorem ipsum dolor sit amet consectetuLorem ipsum </p>
                        </div> <!-- /.single-feature-box-item -->
                    </div> <!-- /.col-lg-4 col-md-4 col-sm-12 -->
                </div>
            </div>
        </section>


        <!-- 
        =============================================
            What We Do
        ============================================== 
        -->
        <section class="what-we-do section-padding" id="whatwedo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-12 text-center">
                        <div class="what-we-do-title">
                            <span>{% trans 'Our services' %}</span>
                            <h2>{% trans 'We build strong brands and grow businesses through branded services,' %}<span>{% trans 'digital storytelling.' %}</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="single-we-do">
                            <img src="../static/assets/img/wedo/w1.png" alt="">
                            <h3>{% trans 'Residential Design' %}</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incidid</p>
                        </div> <!-- /.single-we-do -->
                    </div> <!-- /.col-lg-3 col-sm-6 -->
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="single-we-do">
                            <img src="../static/assets/img/wedo/w2.png" alt="">
                            <h3>{% trans 'Intorior Design' %}</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incidid</p>
                        </div> <!-- /.single-we-do -->
                    </div> <!-- /.col-lg-3 col-sm-6 -->
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="single-we-do">
                            <img src="../static/assets/img/wedo/w3.png" alt="">
                            <h3>{% trans 'Halls Design' %}</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incidid</p>
                        </div> <!-- /.single-we-do -->
                    </div> <!-- /.col-lg-3 col-sm-6 -->
                    <div class="col-lg-3 col-sm-6 text-center">
                        <div class="single-we-do">
                            <img src="../static/assets/img/wedo/w4.png" alt="">
                            <h3>{% trans 'Complex Design' %}</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incidid</p>
                        </div> <!-- /.single-we-do -->
                    </div> <!-- /.col-lg-3 col-sm-6 -->
                </div>

                <div class="what-we-do-button text-center">
                    <a href="#" class="theme_btn">{% trans 'All services' %}</a>
                    <a href="#" class="theme_btn btn_tb">{% trans 'Contact us' %}</a>
                </div>
            </div>
        </section> <!-- /.what-we-do -->


        <!-- 
        =============================================
            FQ Ask Section
        ============================================== 
        -->
        <section class="fq-ask-wrap section-padding" id="faqask">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="fq-ask-banner">
                            <img src="../static/assets/img/fq-ask.jpg" alt="fq-ask">
                        </div>
                    </div> <!-- /.col-lg-6 col-sm-12 -->
                    <div class="col-lg-6 col-sm-12">
                        <div class="theme-heading">
                            <!-- <span>Ko'p soraladigon savollar</span> -->
                            <h2>{% trans 'Most Asked ' %}<br>{% trans 'Questions' %}</h2>
                        </div>
                        <div class="frequent-ask-accrodian">
                           <div id="accordion">
                              <div class="card">
                                 <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                       <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       How much does it cost?
                                       </button>
                                    </h5>
                                 </div>
                                 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                      {% trans ' There are many variations of passages of available but majority have alteration in some by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique.' %}
                                    </div>
                                 </div>
                              </div>
                              <div class="card">
                                 <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      {% trans ' How long will it be ready?' %}
                                       </button>
                                    </h5>
                                 </div>
                                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                 </div>
                              </div>
                              <div class="card">
                                 <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      {% trans ' Is there a quality guarantee? ' %}
                                       </button>
                                    </h5>
                                 </div>
                                 <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                    </div> <!-- /.col-lg-6 col-sm-12 -->
                </div>
            </div>
        </section> <!-- /.fq-ask-wrap -->


        <!-- 
        =============================================
            count up - funfact
        ============================================== 
        -->
        <section class="funfact-countup section-padding">
            <div class="container">
                <h1>{% trans "Our" %}<br>{% trans 'Succeses' %}</h1>
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="single-countup">
                            <span>12</span>
                            {% trans 'Years of experiences' %}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="single-countup">
                            <span>890</span>
                            {% trans 'Happy Customers ' %}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="single-countup">
                            <span>40</span>
                            {% trans 'Certificate ' %}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="single-countup">
                            <span>34</span>
                            {% trans 'Employees' %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="fact-img">
                            <img src="../static/assets/img/funfact.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.funfact-countup section-padding -->
        

        <!-- 
        =============================================
            Call To Action Section
        ============================================== 
        -->
        <section class="call-to-action-wrap section-padding text-white bg-cover bg-bottom" style="background-image: url('../static/assets/img/call_action_bg.jpg')">
            <div class="container">
                <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
                    <div class="call-to-action">
                        <h2>{% trans 'Want to get 35% off?' %}</h2>
                        <p>{% trans 'Contact us now, you can get all the prices in your hand in 5 minutes!' %}</p>
                         <a href="#" class="theme_btn call-action-btn">{% trans 'Contact' %}</a>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        =============================================
            Portoflio Section
        ============================================== 
        -->
        <section class="our-portfolio portfolio-carosuel-wrap" id="portfolio">
            <div class="portfolio-carousel-items owl-carousel">
                <div class="single-portofolio bg-cover text-white" style="background-image: url(../static/assets/img/portfolio/p1.jpg)">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> <!-- /.single-portofolio -->
                <div class="single-portofolio bg-cover text-white" style="background-image: url(../static/assets/img/portfolio/p2.jpg)">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> <!-- /.single-portofolio -->
                <div class="single-portofolio bg-cover text-white" style="background-image: url(../static/assets/img/portfolio/p3.jpg)">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> <!-- /.single-portofolio -->
                <div class="single-portofolio bg-cover text-white" style="background-image: url(../static/assets/img/portfolio/p5.jpg)">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> <!-- /.single-portofolio -->
                <div class="single-portofolio bg-cover text-white" style="background-image: url(../static/assets/img/portfolio/p4.jpg)">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> <!-- /.single-portofolio -->
            </div> <!-- /.portfolio-carousel-items -->
        </section> <!-- /.our-portfolio portfolio-carosuel-wrap -->


        <!-- 
        =============================================
            Blog Section
        ============================================== 
        -->
        <section class="blog-wrapper blog-one section-padding" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="theme-heading">
                            <!-- <span>BLOG UPDATES</span> -->
                            <h2>News</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-carousel-items owl-carousel owl-theme">
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/assets/img/blog1.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>19</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>{% trans 'Staff' %}</span>
                                    <span>{% trans 'Startup' %}</span>
                                    <span>{% trans 'Work' %}</span>
                                </div>
                                <h3><a href="#">{% trans 'Design to next level' %}</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <!-- <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a> -->
                            </div><!-- /.blog-box-content -->
                        </div> <!-- /.single-blog-box -->
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/assets/img/blog2.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>10</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to your dream</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <!-- <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a> -->
                            </div><!-- /.blog-box-content -->
                        </div> <!-- /.single-blog-box -->
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/assets/img/blog3.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>08</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <!-- <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a> -->
                            </div><!-- /.blog-box-content -->
                        </div> <!-- /.single-blog-box -->
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/assets/img/blog1.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>19</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Design to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <!-- <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a> -->
                            </div><!-- /.blog-box-content -->
                        </div> <!-- /.single-blog-box -->
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/assets/img/blog2.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>27</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <!-- <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a> -->
                            </div><!-- /.blog-box-content -->
                        </div> <!-- /.single-blog-box -->
                    </div> <!-- /.blog-carousel-items -->
                </div>
            </div>
        </section>
{% endblock %}